
.leaflet-control-measuredraw
	// .dropdown-toggle
	z-index 1000
	.dropdown-menu
		overflow hidden
		left auto
		right 0
		min-width 15em !important
		li
			min-width 14em
			a
				// padding 1em 0.5em
				line-height 2.5 !important
				cursor pointer
				span
					display table-cell
					vertical-align middle
				span:first-child
					top 4px
				.drawicons
					width 30px
					height 20px
					margin-right 0.2em




// .thandler-popover
// 	.measuredraw-btntoggle-image
// 		width 30px
// 		height 20px
// 		margin-right 0.2em
// 		left -7px
// 		top -4px


// .leaflet-retina 
.drawicons
	background-image url('lib/leaflet.draw/dist/images/spritesheet-2x.png')
	background-size 270px 30px
	display block
	text-align center
	position relative
	background-repeat no-repeat
	width 100%
	height 100%

.drawicons.leaflet-draw-draw-polyline
		background-position -2px -2px

.drawicons.leaflet-draw-draw-polygon
		background-position -31px -2px

.drawicons.leaflet-draw-draw-rectangle
		background-position -62px -2px

.drawicons.leaflet-draw-draw-circle
		background-position -92px -2px

.drawicons.leaflet-draw-draw-marker
	background-position -125px -5px
	left 5px
	top 6px

// .popover-content .drawicons.leaflet-draw-draw-marker
// 	// Applies to icon when inside of toolhandler's popover
// 	left -3px
// 	top 0

// .dropdown-toggle
// 	.drawicons.leaflet-draw-draw-marker
// 		background-position -125px -5px

.drawicons.leaflet-draw-edit-edit
		background-position -152px -2px

.drawicons.leaflet-draw-edit-remove
		background-position -182px -2px


.measuredraw-popup-div-save
	textarea
		min-width 15em
		min-height 8em
		border none !important
		box-shadow none !important
		resize none
	textarea:focus
		border inherit
		box-shadow inherit


	// div
	// 	text-align center
	// 	width 100%
	// 	.measuredraw-popup-btn-save
	// 		margin-top .2em
	// 		width 4em


