
.mmpgreta-tooltip
	font-family courier
	color #fff
	background-color rgba(0,0,0,0.7)
	white-space inherit
	border-radius 3px
	z-index 999 !important
	letter-spacing -1px
	line-height 1
	padding 1em
	// margin-top 5px
	b
		white-space nowrap
		padding-bottom 0.2em
		font-size 1.2em
		display block
