// #smap-mmp-btn
// 	width auto
// 	height auto
// 	font-size 1em
// 	cursor pointer
// 	span, label
// 		cursor pointer
// 		display table-cell
// 		vertical-align middle
// 		display table-cell
// 		vertical-align middle
// 	span
// 		font-size 2em
// 	label
// 		font-size 1em
// 		padding-left 0.5em	
// 	

#smap-mmp-btn
	position absolute
	left calc(50% - 6em)
	bottom 2em

.mmpmarker
	font-size 18px !important
	margin-top 9px !important