// #smap-mmp-btn
// 	width auto
// 	height auto
// 	font-size 1em
// 	cursor pointer
// 	span, label
// 		cursor pointer
// 		display table-cell
// 		vertical-align middle
// 		display table-cell
// 		vertical-align middle
// 	span
// 		font-size 2em
// 	label
// 		font-size 1em
// 		padding-left 0.5em	
// 	



// .easyincident-smallmarker
// 	transform scale(0.5)


@media (min-width: 700px) 
	#smap-mmp-btn
		padding 0.4em
		font-size 90%

	.mmpmarker
		font-size 18px !important
		margin-top 9px !important

#smap-mmp-btn
	position absolute
	left calc(50% - 6em)
	bottom 2em
	padding 0.5em


.smap-mmp-hiding-marker
	transition opacity 5s linear
	opacity 0 !important