.ig-infobox .ig-infobox-header {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.2em;
}
.ig-infobox .ig-infobox-section {
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.1;
  font-size: 0.7em;
}
