
generalMargins = 5px
fontFamily = "Tahoma", "Verdana","OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif

.img-lund-logo
	height 45px
	margin 5px

.navbar-default
	background #1e6251

.navbar-default .navbar-brand
	color #fff !important

.lund-header:hover
	color #fff !important


.lswitch-panel.lund-header, #smap-search-div.lund-header .leaflet-top.leaflet-right.lund-header
	top 65px !important
	margin-top 0

#smap-search-div.lund-header, .leaflet-top.leaflet-right.lund-header
	top: 65px !important;
	margin-top 5px !important


