body {
  font-family: "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
}
h3 {
  font-weight: bold;
}
h4 {
  font-style: italic;
}
