

.thandler-btn
	position absolute
	left auto
	right 10px
	top 8px // Fit search field's style

	button
		width 45px
		height 45px

// .btn-group-vertical > .th-btn
// 	margin 0px 0px 5px 0px !important

.thandler-container
	margin-right 10px
	margin-top 8px
	border 1px solid #ccc

.leaflet-top.leaflet-right .leaflet-control, .thandler-container .leaflet-control
	margin 0
	button
		border none
		border-radius 0

.thandler-container.thandler-visible
	display block

@media (max-width: 991px)
	
	.thandler-container
		display none

	.thandler-popover
		left auto !important
		right .2em

	.thandler-popover .popover-content .leaflet-control
		clear none
		margin .2em
		button
			width 2.75em

	.thandler-popover .popover-content
		padding .5em
		padding-bottom 3.7em

	.thandler-popover .arrow
		left auto !important
		right 1.3em

@media (min-width: 992px)
	.thandler-btn
		display none

	// .thandler-popover
	// 	display none !important
	

// @media (max-width: 480px)
// 	// Move down below search field
// 	.thandler-btn
// 		top 6em
	



