
// Fix padding caused by Malmo IT's CSS messing with bootstrap styles
.sprint-modal .checkbox label
	padding 0

#conditionsLink span
	color blue
	text-decoration underline
	cursor pointer

.reducedSize
	font-size 0.8em
