
@import "global"


// @-ms-viewport
//	user-zoom fixed
//	max-zoom 1
//	min-zoom 1
// 

// Fix for Bootstrap for WP8. Enables scrolling in modals.
.modal
	-ms-overflow-style -ms-autohiding-scrollbar

html, body
	margin 0
	padding 0
	font-size 100% !important
	overflow hidden

#maindiv
	margin 0
	padding 0
	font-size 100%
	width 100%
	height 100%
	overflow visible

#mapdiv
	position absolute
	left 0
	top 0
	width 100%	
	height 100%

.alert
	font-size 0.8em

.map-alert
	position absolute
	z-index 1001
	max-width 80%
	display block
	bottom 0
	right 100px

.modal-dialog
	font-size 1em

.leaflet-control-container .btn
	padding 9px 15px
	max-width 3.1em
	min-width 3.1em

.leaflet-maplabel
	color #000
	white-space nowrap
	font-size 0.9em
	padding 0.2em 0.4em
	font-family courier
	border-radius 3px
	letter-spacing -1px
	line-height 1
	z-index 900 !important
	transition all ease 0.3s
	text-shadow 1px 1px 0px #fff
	visibility hidden
	opacity 0
	// border 1px solid transparent
	padding 10px 15px
	margin-top 5px
	
	// text-shadow 2px 2px 0px #444
	.hidden-labelinfo
		display none

.leaflet-maplabel-hover, .leaflet-maplabel:hover
	text-shadow none
	background-color #000
	background-color rgba(0,0,0, 0.5)
	color #fff
	visibility visible
	margin-top 0
	opacity 1
	// border 1px solid #000
	
// .leaflet-maplabel:hover
// 	.hidden-labelinfo
// 		display block

.leaflet-maplabel-small
	font-size 0.8em
	color #000
	background none
	padding 3px 5px
	border none
	opacity 1
	margin-top 0
	visibility visible
	text-shadow 1px 1px 0px #fff
	// background-color rgba(0, 0, 0, 0.2)
	// background-color rgba(255,255,255, 1)
	z-index 800 !important

.leaflet-maplabel-small:hover
	background none
	transition none
	color #000
	text-shadow 1px 1px 0px #fff
		
		

.leaflet-top.leaflet-right
	// margin-right 10px
	// margin-top 8px
	margin-right generalMargins
	margin-top generalMargins
	border 1px solid #ccc
	.leaflet-control
		clear none !important
		// margin 8px 0 0 .5em
		margin 0
		.btn-group, button
			display block
			border none
			border-radius 0
			max-width none
			max-height none
			width 54px
			height 45px

.leaflet-right .leaflet-control
	margin-right generalMargins
	button
		border-radius 0 !important

// .leaflet-bottom .leaflet-control
// 	margin-bottom 0

.unselectable
	user-select none

.core-select-modal
	.modal-dialog
		max-width 400px
	.modal-header
		background-color #fff
	.modal-content
		background-color rgba(255, 255, 255, 0.8)
	// .modal-header
	// 	border-bottom none
	.modal-body
		padding 0
		.list-group
			margin 0
		.list-group-item 
			border-radius 0
			background none
			display table-row
			span
				// text-overflow ellipsis
				// white-space nowrap
				overflow hidden
				display table-cell
				width 72%
				vertical-align middle
				padding 4%
				button
					display none
			.select-btn-zoom-to-feature
					width 16%
					display table-cell
					border-radius 0
					// margin-left -4%
					border none
					border-left 1px solid #C3C3C3
					// background none
					height 100%
					padding-top 0
					padding-bottom 0
					padding-left 20px
					padding-right 20px
					border-radius 0
					background none
					background-color rgba(92, 184, 92, 0.7) !important
					visibility hidden
					// background-color #fff
					// background-color rgba(105, 105, 105, 0)
					
			.select-btn-zoom-to-feature:hover
				// border-color #bbb
				// border-color #ddd
				color #fff
				background none
				background-color rgba(92, 184, 92, 1) !important
				height 100% !important
				padding-top 0
				padding-bottom 0
				// background-color rgba(105, 105, 105, 0.8)
			// .select-btn-zoom-to-feature
				// position absolute
				// right 1em
				// top 1em
				// float right
				// margin-top -5px

		.list-group-item:hover
			background-color rgba(255,255,255,0.2)
			.select-btn-zoom-to-feature
				visibility visible !important
				
		.list-group-item:first-child
			border-top none
		.list-group-item:last-child
			border-bottom none
	.modal-footer
		margin 0

@keyframes spin {
	0% {
		transform rotate(0deg)
		
	}
	100% { 
		transform rotate(360deg)
	}
}

.loader
	position relative
	z-index 2000
	color #444
	display table
	text-align center
	left calc(50% - 154px)
	top calc(50% - 154px)
	font-size 110%
	
	span
		display table-cell
		vertical-align middle
		font-size 4em
		animation spin 3s infinite linear
	label
		display table-cell
		vertical-align middle
		padding-left 0.2em
		font-size 2em
		font-weight normal

#loadingText
	background-color #FFF
	background-color rgba(255 255 255 0.25)
	height 4em
	width 4em
	left -2em
	top -2em
	position absolute
	border-radius 100%
	text-align center
	line-height 4em
	font-weight bold 

.popup-divider
	border-top 1px dotted #aaa
	margin 1.5em 0
	width calc(100% + 40px)
	left -20px
	position relative

.esri-attribution-logo
	// Override for the interfering logo coming as a bonus with ESRI layers
	// Note! Remember to give correct attribution in the layer instead (© ESRI)
	display none

// ----------- THEME --------------

// a.list-group-item.active a.list-group-item.activehover a.list-group-item.activefocus
	// background-color rgba(000 0.55) // nice color => rgba(19 107 177 1)
	// color #fff
	// outline 1px solid rgba(66 139 202 0.6)

.maindiv
	.panel-default > .panel-heading
		outline 1px solid #ccc
		border none
		background-color #fff


.leaflet-popup-option
	position relative
	padding 0
	margin 0
	padding 1em
	opacity 1
	
.leaflet-popup-option-short
	cursor pointer
	min-width 200px

.leaflet-popup-option-short *
	transition opacity 1s
	opacity 0
	display none
	
.leaflet-popup-option-short .popup-layertitle
	opacity 1
	display block

.leaflet-popup-option-short:hover
	background-color #eee
	background-color rgba(220,220,220,0.5)

.leaflet-popup-content-wrapper-multichoice
	background #fff
	background rgba(255,255,255,0.9)
	.leaflet-popup-content
		overflow-y auto
		max-height 40em
		overflow-x hidden
		// margin 0
	.popup-divider
		width 100%
		margin 0
		left 0
.leaflet-container
	font 1em fontFamily // Override Leaflets font
	a.leaflet-popup-close-button
		z-index 100


