.modal {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100% !important;
  overflow: hidden;
}
#maindiv {
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow: visible;
}
#mapdiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.alert {
  font-size: 0.8em;
}
.map-alert {
  position: absolute;
  z-index: 1001;
  max-width: 80%;
  display: block;
  bottom: 0;
  right: 100px;
}
.modal {
  z-index: 2000;
}
.modal-dialog {
  font-size: 1em;
}
.leaflet-control-container .btn {
  padding: 12px 18px;
  max-width: 4.1em;
  min-width: 3.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mf-v4 .leaflet-top {
  top: 43px;
}
.leaflet-bottom.leaflet-right .btn {
  max-width: 3.5em;
  min-width: 100%;
}
.leaflet-maplabel {
  color: #000;
  white-space: nowrap;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  font-family: courier;
  border-radius: 3px;
  letter-spacing: -1px;
  line-height: 1;
  z-index: 900 !important;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-shadow: 1px 1px 0px #fff;
  visibility: hidden;
  opacity: 0;
  padding: 10px 15px;
  margin-top: 5px;
}
.leaflet-maplabel .hidden-labelinfo {
  display: none;
}
.leaflet-maplabel-hover,
.leaflet-maplabel:hover {
  text-shadow: none;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}
.leaflet-maplabel-small {
  font-size: 0.8em;
  color: #000;
  background: none;
  padding: 3px 5px;
  border: none;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
  text-shadow: 1px 1px 0px #fff;
  z-index: 800 !important;
}
.leaflet-maplabel-small:hover {
  background: none;
  -webkit-transition: none;
  transition: none;
  color: #000;
  text-shadow: 1px 1px 0px #fff;
}
.leaflet-top.leaflet-left.with-search-bar {
  top: 6.5em;
}
.leaflet-top.leaflet-right {
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
}
.leaflet-top.leaflet-right .leaflet-control {
  clear: none !important;
  margin: 0;
}
.leaflet-top.leaflet-right .leaflet-control .btn-group,
.leaflet-top.leaflet-right .leaflet-control button {
  display: block;
  border: none;
  border-radius: 0;
  max-width: none;
  max-height: none;
  width: 54px;
  height: 45px;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}
.leaflet-right .leaflet-control button {
  border-radius: 0 !important;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal-dialog .modal-header .close {
  font-size: 2em;
  margin-top: -3px;
}
.core-select-modal .modal-dialog {
  max-width: 400px;
}
.core-select-modal .modal-content {
  background-color: rgba(255,255,255,0.8);
}
.core-select-modal .modal-content .modal-header {
  background-color: #fff;
}
.core-select-modal .modal-body {
  padding: 0;
}
.core-select-modal .modal-body .list-group {
  margin: 0;
}
.core-select-modal .modal-body .list-group .list-group-item {
  border-radius: 0;
  background: none;
  display: table;
  padding: 0;
}
.core-select-modal .modal-body .list-group .list-group-item span {
  overflow: hidden;
  display: table-cell;
  width: 72%;
  vertical-align: middle;
  padding: 4%;
}
.core-select-modal .modal-body .list-group .list-group-item span button {
  display: none;
}
.core-select-modal .modal-body .list-group .list-group-item .select-btn-zoom-to-feature {
  width: 16%;
  display: table-cell;
  border-radius: 0;
  border: none;
  border-left: 1px solid #c3c3c3;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  background-color: rgba(92,184,92,0.7) !important;
  visibility: hidden;
}
.core-select-modal .modal-body .list-group .list-group-item .select-btn-zoom-to-feature:hover {
  color: #fff;
  background: none;
  background-color: #5cb85c !important;
  height: 100% !important;
  padding-top: 0;
  padding-bottom: 0;
}
.core-select-modal .modal-body .list-group .list-group-item:hover {
  background-color: rgba(255,255,255,0.2);
}
.core-select-modal .modal-body .list-group .list-group-item:hover .select-btn-zoom-to-feature {
  visibility: visible !important;
}
.core-select-modal .modal-body .list-group .list-group-item:first-child {
  border-top: none;
}
.core-select-modal .modal-body .list-group .list-group-item:last-child {
  border-bottom: none;
}
.core-select-modal .modal-body .list-group .select-row-touch .select-btn-zoom-to-feature {
  visibility: visible !important;
}
.core-select-modal .modal-footer {
  margin: 0;
}
.loader {
  position: relative;
  z-index: 2000;
  color: #444;
  display: table;
  text-align: center;
  left: calc(50% - 154px);
  top: calc(50% - 154px);
  font-size: 110%;
}
.loader span {
  display: table-cell;
  vertical-align: middle;
  font-size: 4em;
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}
.loader label {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.2em;
  font-size: 2em;
  font-weight: normal;
}
#loadingText {
  height: 5em;
  width: 5em;
  line-height: 5em;
  left: -2.5em;
  top: -2.5em;
  position: absolute;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
}
.popup-divider {
  border-top: 1px dotted #aaa;
  margin: 1.5em 0;
  width: calc(100% + 40px);
  left: -20px;
  position: relative;
}
.esri-attribution-logo {
  display: none;
}
.img-load-indicator {
  display: block;
  position: relative;
  height: 200px;
}
.img-load-indicator i {
  font-size: 4em;
  display: block;
  position: absolute;
  bottom: 30%;
  vertical-align: middle;
  -webkit-animation-name: circulate;
  animation-name: circulate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.img-smooth-loading {
  opacity: 0;
}
.img-fade-in {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}
.notify-transition {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: -10%;
}
.notify-visible {
  opacity: 1;
  margin-bottom: 0;
}
.alert-blank {
  background: none;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}
.alert-blank .close {
  color: #fff;
  opacity: 1;
}
.leaflet-popup-option {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 1em;
  opacity: 1;
}
.leaflet-popup-option-short {
  cursor: pointer;
  min-width: 200px;
}
.leaflet-popup-option-short * {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  display: none;
}
.leaflet-popup-option-short .popup-layertitle {
  opacity: 1;
  display: block;
}
.leaflet-popup-option-short:hover {
  background-color: #eee;
  background-color: rgba(220,220,220,0.5);
}
.leaflet-popup-content-wrapper-multichoice {
  background: #fff;
  background: rgba(255,255,255,0.9);
}
.leaflet-popup-content-wrapper-multichoice .leaflet-popup-content {
  overflow-y: auto;
  max-height: 40em;
  overflow-x: hidden;
}
.leaflet-popup-content-wrapper-multichoice .popup-divider {
  width: 100%;
  margin: 0;
  left: 0;
}
.leaflet-container {
  font: 1em "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
}
.leaflet-container a.leaflet-popup-close-button {
  z-index: 100;
}
.leaflet-container a.leaflet-popup-minimize-button {
  right: 20px;
}
@media (max-width: 991px) {
  .leaflet-right .leaflet-control {
    margin-right: 5px;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circulate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circulate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
