/* Fix for Bootstrap for WP8. Enables scrolling in modals. */
.modal {
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body {
  margin: 0;
  padding: 0;
  font-size: 100% !important; }

#maindiv {
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#mapdiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.alert {
  position: absolute;
  z-index: 1001;
  max-width: 80%;
  display: block;
  bottom: 0;
  right: 100px; }

.modal-dialog {
  font-size: 1.4em; }

.leaflet-control-container .btn {
  padding: 9px 15px;
  max-width: 3.1em;
  min-width: 3.1em; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 1em; }
