


// @-ms-viewport
//	user-zoom fixed
//	max-zoom 1
//	min-zoom 1
// 

// Fix for Bootstrap for WP8. Enables scrolling in modals.
.modal
	-ms-overflow-style -ms-autohiding-scrollbar

body
	margin 0
	padding 0
	font-size 100% !important
	overflow hidden

#maindiv
	margin 0
	padding 0
	font-size 100%
	width 100%
	height 100%
	overflow visible

#mapdiv
	position absolute
	left 0
	top 0
	width 100%	
	height 100%

.alert
	position absolute
	z-index 1001
	max-width 80%
	display block
	bottom 0
	right 100px

.modal-dialog
	font-size 1.4em

.leaflet-control-container .btn
	padding 9px 15px
	max-width 3.1em
	min-width 3.1em

.leaflet-top.leaflet-right
	margin-right 10px
	margin-top 8px
	border 1px solid #ccc
	.leaflet-control
		clear none !important
		// margin 8px 0 0 .5em
		margin 0
		button
			border none
			border-radius 0
			max-width none
			max-height none
			width 54px
			height 45px

.leaflet-bottom .leaflet-control
	margin-bottom 1em

.unselectable
	user-select none

.core-select-modal
	.modal-header
		background-color #fff
	.modal-content
		background-color rgba(255, 255, 255, 0.8)
	// .modal-header
	// 	border-bottom none
	.modal-body
		padding 0
		.list-group
			margin 0
			.list-group-item
				border-radius 0
				background none
				span
					text-overflow ellipsis
					white-space nowrap
					overflow hidden
			.list-group-item:hover
				background rgba(255,255,255,0.3)
		.list-group-item:first-child
			border-top none
		.list-group-item:last-child
			border-bottom none
	.modal-footer
		margin 0

@keyframes spin {
	0% {
		transform rotate(0deg)
		
	}
	100% { 
		transform rotate(360deg)
	}
}

.loader
	position relative
	z-index 2000
	color #2A446E
	display table
	text-align center
	left calc(50% - 154px)
	top calc(50% - 154px)
	
	span
		display table-cell
		vertical-align middle
		font-size 10em
		animation spin 1s infinite linear
	label
		display table-cell
		vertical-align middle
		padding-left 0.2em
		font-size 5em
		font-weight normal

#loadingText
	background-color #FFF
	background-color rgba(255 255 255 0.25)
	height 4em
	width 4em
	left -2em
	top -2em
	position absolute
	border-radius 100%
	text-align center
	line-height 4em
	font-weight bold 

.popup-divider
	border-top 1px dotted #aaa
	margin 1.5em 0
	width calc(100% + 40px)
	left -20px
	position relative

.esri-attribution-logo
	// Override for the interfering logo coming as a bonus with ESRI layers
	// Note! Remember to give correct attribution in the layer instead (© ESRI)
	display none

// ----------- THEME --------------

// a.list-group-item.active a.list-group-item.activehover a.list-group-item.activefocus
	// background-color rgba(000 0.55) // nice color => rgba(19 107 177 1)
	// color #fff
	// outline 1px solid rgba(66 139 202 0.6)

.panel-default > .panel-heading
	outline 1px solid #ccc
	border none
	background-color #fff


.leaflet-popup-option
	position relative
	padding 0
	margin 0
	padding 1em
	opacity 1
	
.leaflet-popup-option-short
	cursor pointer
	min-width 200px

.leaflet-popup-option-short *
	transition opacity 1s
	opacity 0
	display none
	
.leaflet-popup-option-short .popup-layertitle
	opacity 1
	display block

.leaflet-popup-option-short:hover
	background-color #eee
	background-color rgba(220,220,220,0.5)

.leaflet-popup-content-wrapper-multichoice
	background #fff
	background rgba(255,255,255,0.9)
	.leaflet-popup-content
		overflow-y auto
		max-height 40em
		overflow-x hidden
		// margin 0
	.popup-divider
		width 100%
		margin 0
		left 0
.leaflet-container a.leaflet-popup-close-button
	z-index 100


