

/* ------- Leaflet overrides ------- */
.leaflet-top, .leaflet-bottom {
	z-index: 900; /*Appear behind Malmo header for instance*/
}

.navbar {
	margin-bottom: 800px;  /* to be able to use drop down menues in header*/
}

.leaflet-popup-content {
	/* Force e.g. URL:s to break, not going outside the popup */
	word-wrap: break-word;
}
.leaflet-popup-content a {
	color: #000;
}


