#smap-vspuHeaderLund-div 
	z-index 1001
	background-color #CCDDEE
	padding-left 0


#smap-vspuHeaderLund-div .container
	padding-left 0
	margin-left 2em


#smap-vspuHeaderLund-div .btn-group 
	padding-top 7px


#smap-vspuHeaderLund-div .dropdown-menu 
	font-size 12px
	
#smap-vspuHeaderLund-div .container
	width 95%



