#smap-opensearch-div
	position relative
	left 10px
	top 8px
	z-index 1001
	width 79%
	max-width 380px
	-webkit-transition left .3s, max-width .3s
	transition left .3s, max-width .3s
	overflow-y hidden


.smap-opensearch-div-in-toolbar
	top .2em !important
	z-index 1002 !important


.smap-opensearch-div-focused
	max-width 450px !important



#smap-opensearch-div .input-group-addon
	background-color #fff !important
	padding-right 0 !important
	border-radius 0 !important


#smap-opensearch-div input
	width 100%
	border-left none
	/*border none
	border 1px solid #ccc
	border-width 1px 1px 1px 0*/
	-webkit-box-shadow none
	box-shadow none
	-webkit-appearance none
	border-radius 0 !important


#smap-opensearch-div input:focus
	border-color #ccc


/* Autocomplete Typehead overrides */
.dropdown-menu
	left 0px !important


.dropdown-menu>li>a
	line-height 2.5

/* Typehead overrides END */


#smap-opensearch-bg
	background-color rgba(255,255,255,0)
	width 100%
	height 100%
	z-index 1000
	left 0px
	top 0px
	position absolute
	-webkit-transition background-color .3s
	transition background-color .3s

.opensearch-bg-visible
	background-color #fff !important
	background-color rgba(255,255,255,0.8) !important


.opensearch-active
	left 2% !important
	max-width 600px !important

.opensearch-active ul
	width 95% !important
	max-width 635px


@media (max-width: 767px)
	.smap-opensearch-div-in-toolbar
		max-width 80% !important
	
	.smap-opensearch-div-focused
		max-width 94% !important
		width auto !important
	



@media (min-width: 992px)
	#smap-opensearch-div
		left 310px
		

